$black: #000;
$brand-black: #22252a;
$white: #fff;
$tangerine: #ff9300;
$light-tangerine: #FDC92F;
$light-peach: #ffdeb3;
$vivid-brown: #E10512;
$water-blue: #1275d3;
$lavender: #b8d5f1;
$lavender-violet: #d2b3ee;
$violet-blue:#6a00c6;
$slate-grey: #636569;
$light-grey: #adadad;
$main-teal: #009E98;
$main-teal-20: rgba($main-teal, 0.2);
$main-teal-40: rgba($main-teal, 0.4);
$topaz:#14b9b3;
$error-red: #FF1D31;
$reddish: #cb3d3d;
$pale-grey: #EAECF0;
$pale-grey-29: rgba($pale-grey, .29);
$pale-grey-solid: #F9FAFB;
$smoke: #d8d7d7;
$steel: #898a8d;
$green-blue: #00bb86;
$sun-yellow: #fdc82f;
$cerulean: #0062ce;
$pale-grey: #ebeff1;
$teal: #009E98;

$slate-grey-10: rgba($slate-grey, 0.1);