@import 'colors';
html {
   
    box-sizing: border-box;
    height: 100%;
   
  }
  
  * {
    text-rendering: optimizeSpeed;
   
  }
  *:before,
  *:after { box-sizing: inherit; }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif, serif;
    color: $black;
    -webkit-font-smoothing: antialiased;
  }
  input, button {
    &:active,
    &:focus {
        outline: none;
    }
  }