@import '../../styles/index.scss';
.tables {
  width: 768px;
  margin: auto;
  padding-top: 40px; 


}
.table-wrapper  {
  width: 100%;
  
    span {
        font-size: 16px;
        font-weight: 400;
        font-family: sans-serif;
    }
  
}

.table-header {
    width: 100%;
    display: flex;  
    border-top: 1px solid $slate-grey;
    border-right: 1px solid $slate-grey;
    border-bottom: 1px solid $slate-grey;
    box-shadow: 0px 2px 5px 0px rgba($slate-grey,0.6);
    div {
        border-left: 1px solid $slate-grey;
        padding-top: 12px;
        padding-bottom: 12px;
        
        text-align: center;
        &:nth-child(1) {
            width: 68px;
        }
        &:nth-child(2) {
            width: 160px;
        }
        &:nth-child(3) {
            width: 180px;
        }
        &:nth-child(4) {
            width: 280px;
        }
        &:nth-child(5) {
            width: 120px;
        }
    }
}







.table-body {
   
    min-height: 300px;
    border-right: 1px solid #333330;
    border-bottom: 1px solid #333330;
    border-left: 1px solid #333330;
    margin-bottom: 25px;
}
.table-row {
    display: flex;
}
.table-row div {
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;

    overflow: hidden;
    text-overflow: ellipsis;
}
.table-row:nth-child(odd) {
    background: rgba(243, 243, 243, 0.5);
}
.table-row span {
    font-size: 14px;
}
.table-row div:nth-child(1) {
    width: 68px;
    padding-left: 0;
    text-align: center;
}
.table-row div:nth-child(2) {
    width: 160px;
}
.table-row div:nth-child(3) {
    width: 180px;
}
.table-row div:nth-child(4) {
    width: 280px;
}
.table-row div:nth-child(5) {
    padding-left: 0;
    text-align: center;

    width: 120px;
}
.table-row div:nth-child(5) > span {
    display: inline-block;
    width: calc(100% - 4px);
 }
 
 .high-light {
     background-color: $light-peach;
 }
 .active-row .high-light {
     background-color: $tangerine;
 }